#passion {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 3fr);
    justify-content: space-between;
    padding: 60px 10px 20px 10px;
    height:100%;
}
.passion-card > h2, a, p {
    display:block;
    text-align: center;
}