#portfolio {
    padding: 0 10px 20px 10px;
}

#portfolio-card {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 3fr);
    justify-content: space-between;
}
.portfolio-card-article {
    width:95%;
    margin:auto;
    padding:0 0 10px 0;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    -webkit-box-shadow: 5px 8px 7px 6px #21403A;
    box-shadow: 5px 8px 7px 6px #21403A;

}
.portfolio-card-article:hover{
    transform: scale(1.1);
}
.portfolio-card-article > img:hover{
    filter:none;
}
.portfolio-card-article > img {
    filter: grayscale(100%);
    transition: filter 0.4s ease-in-out;
    object-fit: contain;
    display:block;
    width:90%;
    margin: auto;
}
.portfolio-card-article > button > a {
    text-decoration: none;
}

.button-link{
    margin: 10px 10px 10px 10px;
    justify-content: space-between;
}
@media screen and (max-width: 767px) {
    #portfolio-card {
        grid-template-columns: repeat(2, 2fr);
    }
}
@media screen and (max-width: 467px) {
    #portfolio-card {
        grid-template-columns: 2fr;
    }
}